<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.passmeby.PassMeByApi.dao.ProductDao">
    <select id="selectCategoryAll" resultType="com.store.passmeby.PassMeByApi.dao.vo.CategoryVo">
        SELECT CATEGORY_CODE as categoryCode,
               CATEGORY_NAME as categoryName,
               CATEGORY_VALUE as categoryValue,
               PARENT_CODE as parentCode,
               SORT as sort,
               USE_YN as useYn
        FROM SYSTEM.TB_CATEGORY
        WHERE USE_YN = 'Y'
    </select>

    <!--  상품 리스트 조회  -->
    <select id="selectProductList" resultType="com.store.passmeby.PassMeByApi.dao.vo.ProductVo">
        SELECT PRODUCT_CODE as productCode,
               PRODUCT_NAME as productName,
               CATEGORY_CODE as categoryCode,
               PRODUCT_PRICE as productPrice,
               THUMBNAIL_PATH as thumbnailPath,
               USE_YN as useYn
        FROM SYSTEM.TB_PRODUCT
        WHERE USE_YN = 'Y'
        and category_code = #{search.categoryCode}
        ORDER BY PRODUCT_CODE
        OFFSET #{search.startPage} ROWS FETCH FIRST #{search.pageSize} ROWS ONLY
    </select>

    <!--  상품 단건 조회  -->
    <select id="selectProductByProductCode" resultType="com.store.passmeby.PassMeByApi.dao.vo.ProductVo">
        SELECT PRODUCT_CODE as productCode,
               PRODUCT_NAME as productName,
               CATEGORY_CODE as categoryCode,
               PRODUCT_PRICE as productPrice,
               THUMBNAIL_PATH as thumbnailPath,
               USE_YN as useYn
        FROM SYSTEM.TB_PRODUCT
        WHERE USE_YN = 'Y'
          and PRODUCT_CODE = #{productCode}
    </select>
</mapper>